* {
    margin: 0;
    padding: auto;
    font-family: monospace, sans-serif, serif;
    font-size: large;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

    button {
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: #EFEFEF;
        border: 0.1rem solid black;
    }
    
    button:hover {
        background-color: black;
        border: 0.2rem solid #EFEFEF;
        color: #EFEFEF;
    }